---
title: HW 5
type: assignment
number: 5
courseNumber: MAT4170
term: S26
date: 2026-03-16
layout: layouts/hw.njk
---
<h2>Goals</h2>
<ul>
  <li>Start term paper (blog post)</li>
  <li>Write up remaining exam problems</li>
  <li>Practice with cosets and isomorphism</li>
  <li>Learn some number theory</li>
  <li>\(\LaTeX\) consultation</li>
  <li>Think about abstract algebra pedagogy and learning</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<details open>
  <summary>
    Exercise 1 [2]
    <span style="font-size: small;">(Read this because it has changed!)</span>
  </summary>
  <ol>
    <li>
      Fill out the following and tag it as Exercise 1: <pre><code>\section*{Exercise 1}
Collaborators: Alex, Ross, Margaret, Joan

\noindent
Tools and resources used: On Exercise 1, I used ChatGPT to help me figure out how to [...]. On Choice Exercise 7, I watched a YouTube video to [...].
\pagebreak</code></pre>
      You don't need to include class notes or textbooks under "tools and resources."
    </li>
    <li>
      On <em>each</em> individual exercise you attempt (both required and choice) start with a header based on this template. (Make sure that the denominator of the "self-assessed score" matches the number of points attempted.)
      <code><pre>\section*{Choice Exercise 5}
\begin{itemize}
  \item Points attempted: 7
  \item Self-assessed score: 6/7.
  \item Time spent: 56 minutes.
  \item Difficulty: 8/10.
  \item Questions/Feedback: None.
\end{itemize}</pre></code>
    </li>
    <li>
      Choose one or more problems that you would most like feedback on, and indicate this under the "questions/feedback" bullet with a brief note of what you would most like me to focus on. (This could be "mathematical correctness," "grammar," "notation," "formatting," or anything else.)
    </li>
  </ol>
</details>

<details open>
  <summary>Exercise 2 [3]</summary>
  <p>
    Post on Discord with a topic you might be interested in exploring in your blog post. If you are not yet in a group of size three, post that information, and if you <em>are</em> in a group of size three, say who else is in your group.
  </p>
</details>

<details open>
  <summary>Exercise 3 [10]</summary>
  <p>
    Write up the two problems from the Exam that you didn't choose.
  </p>
</details>


<h2>Choice Exercises</h2>
<p><i>Do 10 points of the following.</i></p>

<details open>
    <summary>
    Choice Exercise 4 [≤9 + 5 + 5 + 6]
    <span style="font-size: small;">(review/practice)</span>
  </summary>
  <ol>
    {% include 'content/S26/MAT4170/HW05/_choice_exercise_4_1_li.html' %}
    {% include 'content/S26/MAT4170/HW05/_choice_exercise_4_2_li.html' %}
    {% include 'content/S26/MAT4170/HW05/_choice_exercise_4_3_li.html' %}
    {% include 'content/S26/MAT4170/HW05/_choice_exercise_4_4_li.html' %}
  </ol>
</details>

<details open>
  <summary>
    Choice Exercise 5 [≤12]
    <span style="font-size: small;">(Number theory)</span>
  </summary>
  {% include 'content/S26/MAT4170/HW05/_bezouts_identity.html' %}
</details>

<details open>
    <summary>
    Choice Exercise 6 [3]
    <span style="font-size: small;">(\(\LaTeX\))</span>
  </summary>
  <p>
    Stop by drop-in hours or chat with me during a break and show me a write-up (from this or a previous assignment) where you'd like to improve the LaTeX code or the output. I'll give you a ten minute consultation. After we chat, implement the feedback and include both the old write-up and the new and improved write-up here.
  </p>
</details>

<details open>
    <summary>
    Choice Exercise 7 [2+2+2]
    <span style="font-size: small;">(video/self-study)</span>
  </summary>
  <ol>
    <li>[2]
      Set a timer for 12 minutes. Read the question <a href="https://matheducators.stackexchange.com/q/248">"How should normal subgroups be introduced?"</a> and work thoughtfully through the answers until the timer goes off. After this, post on Discord (and here) with your thoughts on the question, the answers, or an idea that you might share.
    </li>
    <li>[2]
      Set a timer for 12 minutes. Read the question <a href="https://matheducators.stackexchange.com/q/10244">"What makes cosets hard to understand?"</a> and work thoughtfully through the answers until the timer goes off. After this, post on Discord (and here) with your thoughts on the question, the answers, or an idea that you might share.
    </li>
    <li>
      Set a timer for \(12\) minutes. Spend this time reading Matthew Macauley's <a href="https://www.math.clemson.edu/~macaule/visualalgebra.html"><em>Visual Algebra</em> supplemental materials</a>. In particular, I encourage you to look at the slides from any of the first four parts in the Table of Contents ("Groups, intuitively", "Examples of groups", "Group structure", or "Maps between groups".) Share your thoughts about something you learned, want to know more about, struggled with, or anything else.
    </li>
  </ol>
</details>

<details open>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  <ol>
    <li>[≤3] Email Prof Kagey (pkagey@cpp.edu) or post in the <code>#feedback</code> channel on Discord with a typo that you have spotted in this assignment or with a suggestion about how to make something clearer. (One point for every six minutes that the typo got you stuck, with a maximum of three points.)</li>
    <li>[≤2] Ask a question on Discord. (One point per question, up to 2.)</li>
    <li>[≤4] Answer a classmate's question on Discord or give a hint about a problem on this week's assignment.<a id="ref-asterisk" href="#label-asterisk"><sup>*</sup></a> (Two points per answer/hint, up to 4.)</li>
    <li>[≤4] Can you generalize any of the above problems in an interesting way? If so say what the generalization is, attempt to solve it, say something about it, and say how many points you feel like your effort was worth, up to 4.</li>
    <li>[≤4] Choose one or more problems from our textbook or a previous homework assignment which interest you and write the problem statement along with an answer. Say how many points you feel like your effort was worth, up to 4.</li>
    <li>[2] Stop by student drop-in hours.</li>
    <li>[2 or 5] Work on at least one of the above exercises with a classmate. State which classmate you worked with and which exercises you collaborated on. If you've collaborated with someone for the first time, you get 5 points, if you've collaborated with someone before, you get 2 points for working with them again.</li>
    <li>[2] Turn in the assignment on time (without requesting an extension).</li>
  </ol>
</details>

<hr>
<ol class="footnotes">
  <!-- <li id="label-1">
    [...]
    <a href="#ref-1">⏎</a>
  </li> -->
  <li id="label-asterisk">
    The syntax for a hint on Discord is double bars <code>||</code> on each side of the spoiler like this: <code>Remember that ||1 + x &lt; x + 2||.</code>
    <a href="#ref-asterisk">⏎</a>
  </li>
</ol>
